*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display:flex;
  justify-self:center;
  align-items: center;
  background-color: wheat;
}


















.slider-container{
  width: 500px;
  height: 300px;
  overflow: hidden;
   border-radius: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0,.3);
position: relative;
}

.image-container{
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.btn{
  top:50%;
  transform: translateY(-50%);
  color:white;
  font-size:25px;
  opacity: .5;
  position: absolute;
  cursor: pointer;
}

.btn.prev{
  left:10px;
}

.btn.next{
  right:10px;
}

.btn:hover{
  opacity:1;
}