*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}


.toogle-text{
 
 box-shadow:0px 8px 10px rgba(0, 0, 0, 0.1);
  padding:50px;
  text-align: center;

}

p{
  font-size:2rem;
}

button{
  margin-top: 15px;
  padding:10px 50px;
  background-color: black;
  color:white;
  font-weight:600;
  font-size: 20px;
  transition: backgroundColor 0.2s ease;
  border:none;
  outline:none;
  border-radius: 6px;
}

button:hover{
   background-color: rgb(23, 23, 23); 
}
    .hidden{
      display:none;
    }
