*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(14, 32, 27);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
background-color:white;
border-radius:10px;
padding: 1rem;
color:rgb(49,49,49);
display:flex;
flex-direction: column;
gap:1rem;
}

input{
  border:none;
  outline:none;
  display:block;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  padding-left:1rem;
  border-radius: 7px;
}

.bar{
  margin-top: 1rem;
   height: 0.5rem;
  width: 100%;
  border-radius:30px;
  background-color: gray;
  transition:width 0.5s ease;
  position: relative;
}

.strength{
   height: 0.5rem;
  /* width:0%; */
  /* background-color: green; */
  overflow: hidden;
  border-radius:30px;
  position: absolute;
}


.show{
  margin-top:15px;
  font-size: 25px;
}