*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #272727;
  color:white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: sans-serif;
}

.container{
  text-align:center;
  padding: 20px;
}
input{
padding: 0.5rem 0.5rem;
border-radius:6px;
font-size:20px;
border:none;
outline: none;
}

button{
 padding: 0.5rem 1rem; 
 border-radius:6px;
font-size:20px;
border:none;
cursor:pointer;
}

h1{
  font-size:35px;
  margin-bottom:10px;
}

.result,.output{
  font-size:25px;
  margin-top:16px;
  
}

