*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #250057;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box{
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;

}

.input-box input{
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 34px;
}

.input-box img{
  width: 35px;
}