*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
 background-color: rgb(16, 27, 19);
 color:white;
 display:flex;
 flex-direction: column;
justify-content: center;
 align-items: center;

}
.container{
  border:1px solid white;
  padding: 1rem;
  border-radius:10px;
  display:flex;
 flex-direction: column;
justify-content: center;
 align-items: center;
 gap:1rem;
}
h1{
  font-size: 40px;
}
                                                   
.progress-bar{
  border-radius:20px;
height: 2rem;
background-color:rgb(180, 175, 175);
width: 100%;
overflow: hidden;
}

.progress{
  width: 0%;
height: 2rem;
background-color: green;

}

.btn button{
  padding: 0.5rem 1rem;
  cursor:pointer;
  font-size: 20px;
  border-radius: 10px;
  border:none;
  outline:none;

}

button:active{
background-color: gray;
}