*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background:#272525;
  color:white
}
h1{
  margin-bottom: 20px;
}
#btn{
  background-color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 8px;
  transition:all 0.2s ease;
}
#btn:hover{
  background-color:#f9f4f4;
}