*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#f7f7f7;
  padding: 20px;
  
}

.container{
  width: 100%;
  max-width:600px;
  border-radius:5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  
}

h1{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:15px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
label{
  font-weight: bold;
  margin-bottom:10px;
}

input{
  padding: 8px;
  border:1px solid #ccc;
  width: 100%;
  max-width:300px;
  border-radius:5px;
}

button{
  background:#007bff;
  color:white;
  border:none;
  border-radius:5px;
  outline:none;
  padding:10px 20px;
  cursor: pointer;
  margin-top: 15px;
  transition: backgroundColor 0.3s ease;
}

button:hover{
  background:#0062cc;
}

#result{
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}