*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 110vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:black;
}

.clock-container{
  background-color: #111;
  padding: 40px 60px;
  background-origin: 10px;
}

#clock{
  font-size:60px;
  color:#00ffcc;
  letter-spacing: 2px;
}