*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
   transition: background-color 0.5s ease; 
}

.container{
 box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
 padding: 50px;
 border-radius: 10px;
 text-align: center;
 background-color: white;
}



h1{
  margin-bottom: 15px;
  font-weight: 800;
  color:#454444;
}

#btn{
padding: 10px;
color:white;
font-size: 15px;
font-weight: bolder;
border-radius: 8px;
margin-top: 20px;
background-color: black;
}

p{
  margin:15px;
  font-size:25px;
  font-weight: 600;
  transition: color 0.3s ease; 
  
}