*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}



body{
font-family:sans-serif;
}

.container{
  margin:20px;
  text-align:center;
}

.container h1{
  font-size:3rem;
}

.container img{
  width:350px;

}

.btn button{
  width:60px;
  text-align: center;
  height: 30px;
  font-size:22px;
  background-color: white;
  margin-inline:13px;
}