*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: Arial, sans-serif; 
  text-align: center; 
  margin-top: 50px; 
  background-color: beige;
}

h1{
  margin-bottom: 20px;
}

input{
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  border:none;
  outline: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  font-size: 25px;
}

button{
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: rgb(28, 4, 136);
  color:white;
  margin-left: 20px;
  font-weight: 600;
  border-radius: 8px;
}

p{
  margin-top: 20px;
  font-size: 20px;
}