*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #201f21;
  display:flex;;
  justify-content: center;
  align-items: center;
}

.input-box{
  width: 400px;
  max-width: 90%;
  position: relative;
}

.input-box input{
  width: 100%;
  height: 60px;
  padding: 0 20px;
    border:1px solid #ccc;
    background: transparent;
    outline: none;
    color:#fff;

}
    button{
background: transparent;
border:none;
outline: none;
border-radius: 50%;
background-color: aliceblue;
padding: 8px;
cursor: pointer;
position: absolute;
top: 50%;
transform: translateY(-50%);
right:15px;
    }

button img{
 width: 32px;
}

#message{
  position: absolute;
  bottom: -30px;
  color:#fff;
  font-size: 18px;
  display: none;
}
::placeholder{
  font-size:18px;
}

